/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 500px;
}

.dialogVPanel {
    margin: 5px;
    width: 300px;
}

.serverResponseLabelError {
    color: red;
}

.sendCommand {
    float: left;
    margin-left: 50px;
}

.labels {
    width: 100px;
}


.receivedMessages {
    float: left;
    margin-left: 200px;
    width: 500px;
}

.listBox {
    width: 500px;
    letter-spacing: 2px;
}

.content {
    width:60%;
    margin:0px auto;
    text-align:left;
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
    min-height: 900px;
}

